<div class="sign-up-membership-container">
        <div class="page-header">
            <div class="header-name">
                {{#if haveImage}}
                  <img src="./assets/images/white-logo-55-community.png">
                {{else}}
                    <h1> {{this.memberType}} </h1>
                {{/if}}

            </div>

            <div class="header-description">
                {{#if haveImage}}
                    <h1> {{contentMemberDescription}} </h1>
                {{else}}
                    <h1> {{contentDescription}} </h1>
                {{/if}}
            </div>
    </div>

        <div class="page-detail">
            <div class="left-content">

              <div class="option-title">
                  <button {{action 'showPersonalData'}} style="{{if isFormPersonalData "font-family: 'BebasNeue-Bold';"}}" >
                      Informações pessoais
                  </button>
                  <div class="option-icon" > </div>
                  <button  {{action 'showHostingSelection'}} style="{{if isFormHostSelection "font-family: 'BebasNeue-Bold';"}}" >
                      Local da sua +55lab.co
                  </button>
                  <div class="option-icon"> </div>
                  <button  {{action 'showPaymentMethod'}} style="{{if isFormPaymentMethod "font-family: 'BebasNeue-Bold';"}}" >
                      Método de pagamento
                  </button>
              </div>

              {{#if isFormPersonalData}}
                  <div class="form-field-big" style="margin-top:40px;">
                      {{paper-input label="*Nome" value=name onChange=(action (mut name)) customValidations=clearFieldValidation}}
                  </div>

                  <div class="form-field-medium">
                      {{paper-input label="*CPF" value=cpf onChange=(action (mut cpf)) customValidations=cpfValidation}} {{!--{{input-mask mask="999.999.999-99" placeholder="CPF"}}--}}
                  </div>

                  <div class="form-field-medium">
                   {{paper-input label="*RG" value=rg onChange=(action (mut rg)) customValidations=rgValidation}}
                  </div>

                  <div class="form-field-big">
                      {{paper-input label="*Endereço" value=address onChange=(action (mut address)) customValidations=clearFieldValidation}}
                  </div>

                  <div class="form-field-medium">
                      {{paper-input label="*Número" value=number onChange=(action (mut number)) customValidations=clearFieldValidation}}
                  </div>

                  <div class="form-field-medium">
                      {{paper-input label="*Complemento" value=complement onChange=(action (mut complement)) }}
                  </div>

                  <div class="form-field-medium">
                      {{paper-input label="*Bairro" value=neighbor onChange=(action (mut neighbor)) customValidations=clearFieldValidation}}
                  </div>

                  <div class="form-field-medium">
                      {{paper-input label="*Cidade" value=city onChange=(action (mut city)) customValidations=clearFieldValidation}}
                  </div>

                  <div class="form-field-medium">
                      {{paper-input label="*Estado" value=state onChange=(action (mut state)) customValidations=clearFieldValidation}}
                  </div>

                  <div class="form-field-medium">
                    {{paper-input label="*País (único)" type="text" value=country disabled=true onChange=(action (mut country))}}
                  </div>

                  <div class="form-field-medium">
                      {{paper-input label="*Email" value=email onChange=(action (mut email)) type="email" customValidations=emailValidation }}
                  </div>

                  <div class="form-field-medium">
                      {{paper-input label="*Telefone" value=telephone onChange=(action maskPhoneNumber) customValidations=phoneNumberValidation }}
                  </div>

                  <button class="subscribe-button" {{action 'showNextData'}}>
                      <h1> {{nextButtonTitle}} </h1>
                      <div class="subscribe-button-background-borders">
                      </div>
                  </button>
              {{/if}}

              {{#if isFormHostSelection}}

                    <div class="form-field-big" style="margin-top:40px;">
                      {{paper-input label="*Sede 55lab" type="text" value=hostName disabled=true onChange=(action (mut hostName))}}
                    </div>
                    <button class="subscribe-button" {{action 'showNextData'}}>
                        <h1> {{nextButtonTitle}} </h1>
                        <div class="subscribe-button-background-borders">
                        </div>
                    </button>
              {{/if}}

              {{#if isFormPaymentMethod}}
              <div class='card-wrapper' style="margin-left: 5vw; margin-top:40px;"> </div>
              <form>
              <div class="form-field-big" >
                <input style="background: transparent;" placeholder="*Número do cartão •••• •••• •••• ••••" type="text" name="number">
              </div>

              <div class="form-field-big">
                <input style="background: transparent;" placeholder="*Nome" type="text" name="name"/>
              </div>

              <div class="form-field-medium">
                <input style="background: transparent;" placeholder="*Validade do cartão MM/AAAA" type="text" name="expiry"/>
              </div>

              <div class="form-field-medium">
                <input style="background: transparent;" placeholder="*Código de segurança •••" type="text" name="cvc"/>
              </div>

                {{g-recaptcha onSuccess=(action "onCaptchaResolved")}}
                <div style="margin-top: 20px;">
                  {{#paper-checkbox value=termsOfServiceAccepted onChange=(action (mut termsOfServiceAccepted))}}
                        Aceito os <a href="http://www.lab262.com" target="_blank"> termos de serviço. </a>
                  {{/paper-checkbox}}

                </div>

              </form>
                          <button class="subscribe-button" {{action 'registerUser'}}>
                              <h1> {{subscribeButtonTitle}} </h1>
                              <div class="subscribe-button-background-borders">
                              </div>
                          </button>
                {{/if}}

              <div class="form-observations">
                  <h4>
                      *Campos Obrigatórios <br><br>

                      Seu email e senha serão usados para ter acesso a nossa Rede Social +55lab.co. <a href="http://www.lab262.com" target="_blank"> Saiba Mais </a>
                  </h4>

                  <div class="label-icon"> </div>
              </div>


            </div>

            <div class="right-content">

              <div class="header-divider"> </div>

                <div class="description-title">
                    <h1>
                        {{contentSecondDescription}}
                    </h1>

                    <div class="label-icon"> </div>
                </div>
                <div class="description-picture"> </div>

            </div>
        </div>

    </div>
